/*GENERALES*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);    
}

h2{
    font-size: 20px;
}
h4{
	font-weight: bold;
	margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

p{
    color: #6a6767;
}

a{
    text-decoration: none;
}


/*SECCION 1*/


.seccion1{
    background-image: url(../img/ldOCHxC.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:10% 9px;
}

.seccion1menu{
    background-image: url(../img/mesa.jpg);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:10% 9px;
}
    
.contenedor_head{
    background: #000000;
    height: 70px;
    width: 100%;
    position: relative;
}


.nombre_paguina{
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 2px;
    position: absolute;
    display: block;
    left: 20px; right: 20px; top: 0; bottom: 0;
    margin: auto;
    height: 27px  
}

.bienvenida{
    height:80px;
    position: absolute;
    left: 30px; right: 0; bottom: 0; top: 25vh;
}




/*MENU*/

.menu{
    background: rgba(0, 0, 0, 0.53);
    height: 30px;
}

.sin_espacios {
    padding: 0;
 }

.sin_espacios li {
    display: inline;
 }

.sin_espacios li a {
     font-size: 15px;
     text-decoration: none;
     float: left;
     padding: 5px 20px;
     color: #fff;
 }

/*SECCION 2*/

.seccion{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    
}

.seccion_maps{
    height: 100%;
    width: 50%;
    margin: auto;
    max-width: 1200px;
    
}

.contenedor_divisor{
    position: relative;
    height: 15vh;
    margin-top: 60px;
}

.linea_divisora{
    margin: auto;
    height: 1px;
    border: 0px;
    background-color: #e37a00;
    width: 100%;
    position: absolute;
    right: 0px;bottom: 0px; left: 0px; top: 0px;   
}

.nombre_divisor{
    position: absolute;
    display: block;
    margin: auto;
    left: 0px; right: 0px; bottom: 0px; top: 0px;
    text-align: center;
    height: 30px;
    width: 140px;
    background: #fff;
    color: #c66a00    
}



.contenedor{
    width: 100%;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 30px;
}


.contenedor_imagen{
    text-align: center;
    max-width: 600px;
    box-sizing: border-box;
}


.imagen{
    max-width: 100%;
    max-height: 260px;
    margin: auto;
    box-sizing: border-box;  
}

.nombre_divisor_comunicate{
    position: absolute;
    margin: auto;
    left: 0px; right: 0px; bottom: 0px; top: 0px;
    text-align: center;
    height: 30px;
    max-width: 300px;
    background: #fff;
    color: #c66a00;
    box-sizing: border-box;
    
}


.titulo_centrado{
    font-size: 17px;
    text-align: center;
    padding-bottom:10px;
    box-sizing: border-box;
    color: #6c6c6c;
}

.centrado{
    text-align: center;
    padding-bottom: 15px
}

.footer{
    height: 70px;
    background-color: #2a2a2a;
    position: relative;
}

.copy{
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
    height: 20px;
    position: relative;
    top: 30%;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}


